*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}
input {
  height: 50px;
  width: 100%;
  padding: 6px;
  margin-top: 10px;
  font-size: 2.4em;
  border: none;
}
h2 {
  font-family: "Helvetica", sans-serif;
  background-color: tomato;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2.4em;
  border: none;
  color: rgb(223, 238, 156);
  font-size: 20px;
  font-weight: bold;
}
#articlelist {
  font-family: "Helvetica", sans-serif;
  background-color:rgb(176, 187, 190);
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2.4em;
  border: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.jumbotron {
  text-align: center;
  background-image: url("pepper.jpg");
  color: white;
  font-family: "Helvetica", sans-serif;
  font-size: 24px;
}
ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
}
span {
  padding: 14px;
}
.form-control {
  text-align: left;
  background-color:rgb(176, 187, 190);
  color: black;
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
}
.checkbox-inline {
  text-align: center;
  background-color:rgb(176, 187, 190);
  color:rgb(223, 238, 156);
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
}
li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #FF5D88;
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
}
li:before {
  content: "\200B";
  position: absolute;
}
li::after {
  content: " ";
  display: block;
  clear: both;
}
li button {
  float: right;
  border: none;
  height: 40px;
  cursor: pointer;
  background-color: #FF9500;
  color: white;
  font-size: 1em;
}
li button:hover {
  background-color: #FEBC5D;
}
.todos {
  width: 800px;
  margin: 0 auto;
  margin-top: 40px;
}
.slidecontainer {
  width: 55%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #D3D3D3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background:tomato;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}